<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Amazon</display-name>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>ContextListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>WoodStoreServlet</servlet-name>
        <servlet-class>servlets.WoodStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BannerServlet</servlet-name>
        <servlet-class>servlets.BannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailsServlet</servlet-name>
        <servlet-class>servlets.WoodDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCatalogServlet</servlet-name>
        <servlet-class>servlets.WoodCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookShowCartServlet</servlet-name>
        <servlet-class>servlets.WoodShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCashierServlet</servlet-name>
        <servlet-class>servlets.BookCashierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookReceiptServlet</servlet-name>
        <servlet-class>servlets.BookReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>servlets.AdminDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookEntryServlet</servlet-name>
        <servlet-class>servlets.AdminBookEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <servlet-class>servlets.AdminUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>servlets.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadImageServlet</servlet-name>
        <servlet-class>servlets.LoadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BannerServlet</servlet-name>
        <url-pattern>/Banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailsServlet</servlet-name>
        <url-pattern>/BookDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCatalogServlet</servlet-name>
        <url-pattern>/BookCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookShowCartServlet</servlet-name>
        <url-pattern>/BookShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCashierServlet</servlet-name>
        <url-pattern>/BookCashier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookReceiptServlet</servlet-name>
        <url-pattern>/BookReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/AdminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookEntryServlet</servlet-name>
        <url-pattern>/AdminBookEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <url-pattern>/AdminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WoodStoreServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadImageServlet</servlet-name>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>25</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>exception.OrderException</exception-type>
        <location>/errors/OrderError.html</location>
    </error-page>
    <error-page>
        <exception-type>exception.BookNotFoundException</exception-type>
        <location>/errors/OrderError.html</location>
    </error-page>
    <error-page>
        <exception-type>exception.BooksNotFoundException</exception-type>
        <location>/errors/OrderError.html</location>
    </error-page>
    <error-page>
        <exception-type>exception.UpdateBookException</exception-type>
        <location>/errors/UpdateError.html</location>
    </error-page>
    <error-page>
        <exception-type>exception.NewBookException</exception-type>
        <location>/errors/NewBookError.html</location>
    </error-page>
    <error-page>
        <exception-type>Exception</exception-type>
        <location>/errors/OrderError.html</location>
    </error-page>
    <error-page>
        <exception-type>ServletException</exception-type>
        <location>/errors/OrderError.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/login.jsp</location>
    </error-page>
    <jsp-config>
    </jsp-config>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Bookstore</web-resource-name>
            <description/>
            <url-pattern>/Admin</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Manager</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>BookstoreRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>The bookstore manager</description>
        <role-name>Manager</role-name>
    </security-role>
    <security-role>
        <description>Bookstore Staff</description>
        <role-name>Staff</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>jdbc/BookDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
